.vpandora-form {
  position: relative;
}

.vpandora-right-btns {
  position: absolute;
  right: 10px;
  bottom: 0;
}

.vpandora-form-required {
  color: #f00;
  position: absolute;
  top: 2px;
  right: -12px;
}

.vpandora-table {
  width: 100%;
  height: 100%;
}

.vpandora-pagination {
  width: 100%;
  margin-top: 10px;
}

.vpandora-table >>> .active-thead .sort-caret.descending {
  border-top-color: #409eff;
}
.vpandora-table >>> .active-thead .sort-caret.ascending {
  border-top-color: #409eff;
}

.vpandora-table .column-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 34px;
  width: 24px;
  vertical-align: middle;
  cursor: pointer;
  overflow: initial;
  position: relative;
}
